# yarn.lock
npm-debug.log
node_modules/
# public/src/nodebb.min.js
# !src/views/config.json
# public/css/*.css
*.swp
.DS_Store
# .eslintcache

logs/

# pidfile

# # templates
# /public/templates

# /public/sounds
# /public/uploads

# # compiled files
# /public/stylesheet.css
# /public/admin.css
# /public/nodebb.min.js
# /public/nodebb.min.js.map
# /public/acp.min.js
# /public/acp.min.js.map
# /public/installer.css
# /public/installer.min.js
# /public/logo.png

# # Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
# *.iml

# ## Directory-based project format:
.idea/
.vscode/

# ## File-based project format:
# *.ipr
# *.iws


# ##Coverage output
# .nyc_output

*.log
# package-lock.json
